
@font-face {
    font-family: iransans;
    src: url(../assets/Fonts/IRANSansX-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: iransans;
    src: url(../assets/Fonts/IRANSansX-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}


/* --- Basic style --- */

*,
*::after,
*::before {
    box-sizing: border-box;
}


:root {
    --color-primary: #13a283;
    --color-secondary: #14323b;
    --color-body: #4e4e4e;
}


input,
select,
option {
    outline: none;
    background: transparent;
    border: none;
    font-family: inherit;
}


/* --- typography --- */

html {
    font-size: 62.5%;
}


body {
    font-family: 'iransans', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}


h1 {
    color: #fff;
    font-size: 5rem;
}


h2
 {

    color: var(--color-secondary);
    font-size: 2rem;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    color: inherit;
    text-decoration: none;
}


/* --- Container --- */

.container {
    width: min(95%, 1200px);
    margin-inline: auto;
}


/* --- button style --- */

.btn {
    display: inline-block;
    padding: 1.2rem 3rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    font-family: inherit;
    color: #fff;
    font-weight: bold;
}


.btn--primary {
    background-color: var(--color-primary);
}


.btn--primary:hover {
    background-color: var(--color-secondary);
}


/* --- Navbar --- */

.navbar {
    border-bottom: 1px solid #ccc;
    font-size: 1.6rem;
    height: 70px;
    display: flex;
    align-items: center;
}


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__links {
    display: flex;
    gap: 2rem;
    align-items: center;
}


.nav__links a {
    padding: 10px 10px;
    border-inline: 1px solid transparent;
    transition: all .5s;
}


.nav__links a:hover {
    color: var(--color-primary);
    border-inline: 1px solid #ccc;
}


.nav__login {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.nav__login a:hover {
    color: var(--color-primary);
}


.nav__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-primary);
}


.nav__logo > img {
    width: 25px;
    height: 25px;
}


/* --- Hero --- */

.hero {
    position: relative;
    width: 100%;
    height: 600px;
}


.hero picture,
.hero img {
    width: 100%;
    height: 100%;
    display: block;
}


.hero img {
    object-fit: cover;
    object-position: center;
}


.hero picture::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.1)
    );
}


.hero__content {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    color: #fff;
    font-weight: 700;
}


.hero__content p {
    font-size: 2rem;
}


/* =========== Search Box ========== */

.search-box {
    position: absolute;

    z-index: 10;

    left: 50%;
    bottom: -50px;

    transform: translateX(-50%);
}


.search__tabs {
    background-color: #fff;

    border-radius: 2rem 2rem 0 0;

    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 60%;
    margin-inline: auto;
}


.search__tab {
    border: none;
    background: transparent;

    font-family: inherit;
    font-size: 1.8rem;

    color: var(--color-body);

    cursor: pointer;

    padding: 0 2rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.search__tab.active {
    font-weight: bold;
    color: var(--color-primary);
}



.search__tab.active::after {
    content: '';

    position: absolute;

    bottom: -99%;
    right: 15%;
    left: 15%;

    height: 3px;

    background-color: var(--color-primary);

    border-radius: 3px 3px 0 0;
}


.search__panels {
    padding: 2rem;

    background-color: #fff;
    box-shadow: 0 10px 10px #ccc;

    border-radius: 2rem;
}


.search__panel {
    display: none;
}


.search__panel.active {
    display: block;
}


.search__form {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.form__group {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px solid #e5e5e5;
    border-radius: 1rem;

    padding: 1rem 1.5rem;
}


.form__group label {
    font-size: 1.2rem;
}


.search-btn {
    flex: 0 0 120px;

    height: 68px;

    border: none;
    border-radius: 1rem;

    background-color: var(--color-primary);
    color: #fff;

    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;

    cursor: pointer;
}
.search-btn:hover{
    background-color: var(--color-secondary);
}


/* ================== popular section =============== */
.popular{
    margin-top:8rem;
    
}
.popular__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular__header h2{
    font-size: 2rem;
}
.see-all{
    letter-spacing: 0;
    color: var(--color-primary);
    font-weight: bold;
}
.see-all::after{
   content: "";
    display: inline-block;

    width: 28px;
    height: 28px;

    background-color: var(--color-primary);

    mask: url("../assets/images/arrow-left-short.svg") no-repeat center;
    mask-size: contain;

    -webkit-mask: url("../assets/images/arrow-left-short.svg") no-repeat center;
    -webkit-mask-size: contain;

    margin-right: 2px;
    vertical-align: middle;
}
.see-all:hover{
    color: var(--color-secondary);
    font-weight: bold;
}
.see-all:hover:after{
     background-color: var(--color-secondary);
     margin-right: 10px;
   
}



.slider{
    
    display: flex;
    overflow-x: auto;
    gap: 3rem;
    

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
    cursor: grab;
    user-select: none;
}
.slider:active {
    cursor: grabbing;
}

.slider__card{
    scroll-snap-align: center;
    flex-shrink: 0;
}
.slider__card img {
    pointer-events: none;
}

.popular__card {
    min-width: 48%;
    max-width: 48%;
    background-color: #ccc;
    height: 290px;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    
      
}
.popular__card img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    position: absolute;
    z-index: 0;
   
}
.card__image::after{
    content: '';
    position: absolute;
    inset: 0;
    
    z-index: 1;
    background: #ffffff;
background: linear-gradient(164deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 1) 100%);
}

.card__header{
    position: absolute;
    z-index: 2;
    right: 50px;
    bottom: 10px;
    color: #fff;
    line-height: 8px;
}

.card__header p::before{
    content: "";
    display: inline-block;

    width: 15px;
    height: 15px;

    background-color: #fff;

    mask: url("../assets/images/arrow-left-short.svg") no-repeat center;
    mask-size: contain;

    -webkit-mask: url("../assets/images/x-diamond-fill.svg") no-repeat center;
    -webkit-mask-size: contain;

    margin-left: 5px;
    vertical-align: middle;

}


/* ===== Benefit Section ===== */

.benefit-section{
    background-color: 	rgb(19, 162, 131, .1) ;
    
}
.benefits{
    margin-top: 5rem;
    display: flex;
    gap: 4rem;
    align-items: start;
    justify-content: center;
}
.benefit{
    display: flex;
    color: var(--color-secondary);
    gap: 30px;
    max-width: auto;
    align-items: start;
    justify-content: center;
    line-height: 5px;
    margin-top: 2rem;
    

}
.benefit__icon{
    margin-top: 1.4rem;
    color: var(--color-primary);
}
.benefit h3{
    font-size: 1.8rem;
}
.benefit p{

    line-height: 1.4;
}

/* ====history section ===== */
.history{
    margin-top: 6rem;
}
.grid{
    display: grid;
}
.grid-1x2{
    grid-template-columns: 1fr auto;
    column-gap: 5rem;
}
.history__card{
    min-height: 500px;
    box-shadow: 0 0 20px #dfdfdf;
    border-radius: 2rem;
    padding:2rem;

}

.hsitory__content{
    line-height: 1.7;
    text-align: justify;
    width: 350px;
    margin-right: 2rem;
}
.history__image img{
    width: 100%;
    border-radius: 2rem;
}
.history__form{
    margin-top: 5rem;
}

.history__form h3{
    font-size: 1.6rem;

}

.history__input{
    margin-top: 2rem;
    width: 100%;
    border-radius: 6rem;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-right: 2rem;
}
.history__input button{
    align-self: center;
    outline: none;
    border: none;
    margin: 0;
    border-radius: 0 2rem  2rem 0;
     
}
input::placeholder{
    font-size: 1.5rem;
    opacity: .5;
}


/* ========== offer ============ */
.offer{
    margin-top: 4rem;
}

.offer__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer__card {
    width: 300px;
    height: 350px;
    flex-shrink: 0;

    border-radius: 2rem;
    border: 1px solid #ccc;
    overflow: hidden;

    background-color: #fff;
}


.offer__image {
    position: relative;
    width: 100%;
    height: 250px;
}


.offer__image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}


.offer__image span {
    position: absolute;

    top: auto;
    bottom: -20px;

    left: 50%;
    transform: translateX(-50%);

    z-index: 2;

    color: #fff;
    background-color: var(--color-primary);

    border-radius: 2rem;

    padding: 0.8rem 2rem;

    font-weight: bold;
    font-size: 2rem;
}


.offer__content {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 2rem;
    padding: 1rem 0;

    line-height: 1.5;
}


.offer__content h3,
.offer__content p {
    margin: 0;
}


footer{
    background-color: var(--color-secondary);
    margin-top: 6rem;
    color: #fff;
    line-height: 1.6;
}
footer h3{
    color: var(--color-primary);
    margin-bottom: .7rem;
}
.grid-1x3{
    grid-template-columns: auto 1fr 1fr;
    column-gap: 4rem;
}
.grid__item {
    padding: 2rem;
    border-left: 1px solid #ddd;
}

.grid__item:last-child {
    border-left: none;
}
.footer-content{
    padding: 2rem;
}


.footer__ctl {
    padding: 2rem;
    
}

footer p{
    margin: 0;
    
}

.webinfo{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap:4rem ;
}

footer span{
   text-align: center;
   display: block;
    
}